<!DOCTYPE html>
<html>
<head>
  <title>Christmas Puzzlehunt 2019</title>
</head>
<body>
<div>
  <h1>Christmas Puzzlehunt 2019</h1>
  <p>Merry Christmas! Welcome to the puzzle website. As you complete each puzzle, the next will unlock.</p>
  <h2>Web puzzles:</h2>
</div>
<ol>
  <li><a href="puzzle1">Simple Beginnings</a></li>

  {% if latestCompleted > 0 %}
  <li><a href="puzzle2">The Naughty List</a></li>
  {% else %}
  <li>The Naughty List</li>
  {% endif %}

  {% if latestCompleted > 1 %}
  <li><a href="puzzle3">Your move, Carlsen</a></li>
  {% else %}
  <li>Your move, Carlsen</li>
  {% endif %}

  {% if latestCompleted > 2 %}
  <li><a href="puzzle4">Ms. Darkbloom</a></li>
  {% else %}
  <li>Ms. Darkbloom </li>
  {% endif %}
</ol>
</body>
</html>