<!DOCTYPE html>
<html>
<head>
  <title>Flask Template Example</title>
</head>
<body>
<div>
  <p>Puzzles</p>
</div>
<ol>
  <li><a href="puzzle1">Find the codes</a></li>

  {% if latestCompleted > 0 %}
  <li><a href="puzzle2">Crack the codes</a></li>
  {% else %}
  <li>Crack the codes</li>
  {% endif %}

  {% if latestCompleted > 1 %}
  <li><a href="puzzle3">Your move, Carlsen</a></li>
  {% else %}
  <li>Your move, Carlsen</li>
  {% endif %}

  {% if latestCompleted > 2 %}
  <li><a href="puzzle4">Ms. Darkbloom</a></li>
  {% else %}
  <li>Ms. Darkbloom </li>
  {% endif %}
</ol>
</body>
</html>