<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puzzle 2</title>
  <link href="/static/styles.css" rel="stylesheet">
  <script>
    function checkAnswers() {
      var value1 = document.getElementById("answer-input1").value.toLowerCase(); // Get input
      var value2 = document.getElementById("answer-input2").value.toLowerCase(); // Get input

      const options = {
        method: 'POST',
        body: JSON.stringify({
          'ans1': value1,
          'ans2': value2,
        }),
        headers: {
          'Content-Type': 'application/json'
        },
      };

      fetch("puzzle2/check", options).then(resp => {
        return resp.text();
      }).then(parsedResp => {
        if (parsedResp === "C") { // then the answer was correct and we should grant a cookie.
          window.alert("You figured it out - Christmas is saved!! Try the next puzzle.");
          document.cookie = "latestCompleted=2";
        } else {
          window.alert(parsedResp)
        }
      });
    }
  </script>
</head>
<body>
<h1>Puzzle 2: The Naughty List</h1>
<p class="puzzle-desc">
  It's Christmas Day, and Santa is beginning his trek across the USA. But the elves messed up his itinerary! Instead of Santa's delivery route, they accidentally
  gave him the hit list for S.A.N.T.A., the North Pole's state-of-the-art naughty child elimination machine.
</p>
<p class="puzzle-desc">
  S.A.N.T.A. isn't ready for public testing yet! It must be shut down. Santa knows that the following locations are on S.A.N.T.A.'s hit list, but the first location got scratched out. And, in a bit of a poetic design decision, he knows that the deactivation phrase for S.A.N.T.A. is hidden somewhere in its itinerary.
</p>
<p class="puzzle-desc">
  Can you figure out where S.A.N.T.A. plans to visit first, and the deactivation phrase necessary to save Christmas?
</p>
<ol>
  <li>(The first set of coordinates are scratched out beyond legibility)</li>
  <li>47.002960, -114.482000</li>
  <li>41.499939, -71.661240</li>
  <li>65.156471,  -152.103714</li>
  <li>37.966890, -87.038060</li>
  <li>42.679909, -70.837341</li>
  <li>46.879002, -102.789879</li>
  <li>33.366070, -111.963150</li>
  <li>41.687382, -85.973541</li>
</ol>
<br>
<p><i>City name:</i></p>
<input type="text" id="answer-input1" onsubmit="checkAnswer()">
<p><i>Deactivation phrase:</i></p>
<input type="text" id="answer-input2" onsubmit="checkAnswer()">
<button onclick="checkAnswers()">Check answers</button>
</body>
</html>