<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Puzzle 3</title>
  <script>
    function checkAnswer() {
      var value = document.getElementById("answer-input").value.toLowerCase(); // Get input

      const options = {
        method: 'POST',
        body: JSON.stringify({ 'ans': value }),
        headers: {
          'Content-Type': 'application/json'
        },
      };

      fetch("puzzle3/check", options).then(resp => {
        return resp.text();
      }).then(parsedResp => {
        if (parsedResp === "C") { // then the answer was correct and we should grant a cookie.
          window.alert("You found it: that's the opener. Now, where do we keep scotch? There's your next clue.");
          document.cookie = "latestCompleted=3";
        } else {
          window.alert(parsedResp)
        }
      });
    }
  </script>
</head>
<body>
<h1>Puzzle 3</h1>
<p><i>Your move, Carlsen.</i></p>
<p>1110010011100101111100111100011011010100</p>
<br>
<img src="/static/imgs/knight.png" alt="knight">
<p><i>If you think you figured it out:</i></p>
<input placeholder="Check answer" type="text" id="answer-input" onsubmit="checkAnswer()">
<button onclick="checkAnswer()">Check code</button>
</body>
</html>
